---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

For a full list, please see [my Google scholar profile](https://scholar.google.com/citations?user=87n9UeMAAAAJ&hl=zh-CN)

## Journal papers

[J12] 岳冬冬, 史建涛, 王钢, 曹进德. 有向图上不确定性参数系统的有限时间辨识与自适应一致性控制. 自动化学报, 2025, [link] [pdf] [bib]
[J11]  D. Yue, S. Baldi, J. Cao and L. Shi, "Adaptive exponential consensus with cooperative exponential parameter identification over leaderless directed graphs," in IEEE Transactions on Systems, Man, and Cybernetics: Systems, 2025, [link] [pdf] [bib]
[J10] D. Yue, J. Shi, L. Shi, P. Frasca and S. Baldi. "Model reference adaptive stabilizing control for leader-following consensus," in IEEE Transactions on Automatic Control, 2025, [link] [pdf] [bib]
[J9] D. Yue, S. Baldi, J. Cao and B. De Schutter, "Model reference adaptive stabilizing control with application to leaderless consensus," in IEEE Transactions on Automatic Control, 2024, [link] [pdf] [bib]
[J8] D. Yue, S. Baldi and J. Cao, "Distributed aperiodic time-triggered and event-triggered consensus: a scalability viewpoint," in IEEE Transactions on Network Science and Engineering, 2023,  [link] [pdf] [bib]
[J7] D. Yue, S. Baldi, J. Cao, Qi Li and B. De Schutter, "Distributed adaptive resource allocation: an uncertain saddle-point dynamics viewpoint," in IEEE/CAA Journal of Automatica Sinica, 2023,  [link] [pdf] [bib]
[J6] D. Yue, S. Baldi, J. Cao and B. De Schutter, "Distributed Adaptive Optimization with Weight-Balancing," in IEEE Transactions on Automatic Control, 2021, [link] [pdf] [bib]
[J5] D. Yue, S. Baldi, J. Cao, Qi Li and B. De Schutter, "A Directed Spanning Tree Adaptive Control Solution to Time-Varying Formations," in IEEE Transactions on Control of Network Systems, 2021, [link] [pdf] [bib]
[J4] D. Yue, J. Cao, Qi Li and Q. Liu, "Neural-Network-Based Fully Distributed Adaptive Consensus for a Class of Uncertain Multiagent Systems," in IEEE Transactions on Neural Networks and Learning Systems, 2020, [link] [pdf] [bib]
[J3] D. Yue, Qi Li, K. To Chong, J. Cao, "Neural‐network‐embedded distributed average tracking of agents with matching unknown nonlinearities," in Asian Journal of Control, 2020, [link] [pdf] [bib]
[J2] D. Yue, J. Cao, Qi Li and M. Abdel-Aty, "Distributed Neuro-Adaptive Formation Control for Uncertain Multi-Agent Systems: Node- and Edge-Based Designs," in IEEE Transactions on Network Science and Engineering, 2020, [link] [pdf] [bib]
[J1] D. Yue, J. Cao, Qi, Li and X. Shi, "Neuro-adaptive consensus strategy for a class of nonlinear time-delay multi-agent systems with an unmeasurable high-dimensional leader," in IET Control Theory & Applications, 2019, [link] [pdf] [bib]
Conference papers
[C5] D. Yue, S. Baldi, and J. Cao, "Robust model reference adaptive consensus with neural networks ", 34th  Chinese Control and Decision Conference (CCDC), 2022, [link] [pdf] [bib]
[C4] D. Yue, S. Baldi, and J. Cao, "Distributed Adaptive Consensus Disturbance Rejection: a Directed-spanning-tree Perspective", 41st  Chinese Control Conference (CCC), 2022, [link] [pdf] [bib]
[C3] D. Yue, S. Baldi, W. Xu and J. Cao, "Distributed Adaptive Consensus via Event-triggered Sampling: An Edge-based Method,"  18th IEEE International Conference on Networking, Sensing and Control (ICNSC) , 2021, [link] [pdf] [bib] (Best Paper in Theory)
[C2] D. Yue, Qi Li, J. Cao and X. Tan, "Robust Neuro-adaptive Asymptotic Consensus for a Class of Uncertain Multi-agent Systems: An Edge-based Paradigm," 2019 International Joint Conference on Neural Networks (IJCNN), 2019, [link] [pdf] [bib]
[C1] X. Tan, J. Cao, R. Chen and D. Yue, "The event-based consensus of multi-agent networks with control gain in normal distribution," 2019 Chinese Control Conference (CCC), 2019, [link] [pdf] [bib]
[Abstract] D. Yue, S. Baldi, J. Cao, Qi Li and B. De Schutter, "A Directed Spanning Tree Adaptive Control Framework to Time-Varying Formations," in 39th Benelux Meeting on System and Control, 2021, [pdf]
Others
[Ph.D Thesis, in Chinese] 岳冬冬, 非确定性网络系统的分布式自适应控制, 东南大学, 指导教师: 李奇, 曹进德, 2021.03. [pdf]

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



